/*main-footer*/
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');


/*header*/
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@600&display=swap');

/*icons*/
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css');

/*!* Klein ——————————- *!*/
/*@media screen*/
/*and (max-width: 480px) {*/
/*    !* jouw CSS stijlen *!*/
/*    h1 {*/
/*        font-size: 32px;*/
/*    }*/
}

/*extra groot scherm  */
@media screen and (min-width: 1281px)
{
    body head {

    }
}
/* Tablets portrait */
    @media screen and (min-width: 768px) and (max-width: 1023px)


        
        /* Smartphones  */
        @media screen and (min-width: 421px) and (max-width: 767px)
            /* Smartphones portrait mode */
            @media screen and (max-width: 420px)

@media print {
                    body {
                        background-image: none;
                        background-color: transparent
                    }

                   header {
                        background-image: none;
                        background-color: transparent;
                        color: black
                    }
                    nav {
                        display: none;
                    }
                    /*.img1 .img2 .img3 .img4 .img5{*/
                    /*    width: 3px ;*/
                    /*    height: 4px*/
                    /*}*/
                }
/*Universal selector box-model*/
* {
margin: 0;
padding: 0;
box-sizing: border-box;
}
                html {
                    -webkit-box-sizing: border-box;
                    -moz-box-sizing: border-box;
                    box-sizing: border-box
                }

                /*NAV*/

                nav ul {
                    font-family: Cinzel, serif;
                    font-size: 18px;
                    background-color: #9f3e3e;
                    list-style-type: none;
                    width: 100%;
                    padding: 5px 5px;
                    display: flex;
                    position: fixed;
                    justify-content: space-between;
                    align-content: space-between;
                   }
                nav li {
                    flex: 1 1 auto;
                    padding: 0 3.5rem 0 !important;
                    justify-content: space-between;
                    align-content: space-between;
                }
                /*links nav bar*/
                .anav {
                    font-family: Cinzel, serif !important;
                    font-weight: bold !important;
                    font-size: 17px !important;
                    color: black !important;
                }
                .anav:visited {
                    color: #02247c !important;
                }
                .anav:hover {
                    color: black !important;
                    font-size: 30px !important;
                }

                /*BODY*/
                body {
                    font-family: EB Garamond, sans-serif;
                    font-size: 25px;
                    font-style: normal;
                    font-variant: normal;
                    font-weight: 550;
                    line-height: 1.5;
                    color: #f6a262;
                }
                span {font-style: italic }



                /*HEADER*/
header {
                    background-image: url("../Pictures/De_gitaarspeelster_Vermeer_origineel_crop.jpg") !important;
                    background-attachment: scroll;
                    background-size: cover;
                    background-position: center;
                    background-repeat: no-repeat;
                    font-family: Cinzel, serif;
                    font-weight: bolder!important;
                    text-align: right;
                    color: #f67205;
                    height: 400px;
                    padding-right: 5%;
                }
                h1 {
                    font-size: 40px !important;
                    padding-top: 7rem;

                }
                h2 {
                    font-size: 30px !important;
                    padding-top: 1rem;
                }
                h3 {
                    font-size: 30px !important;
                }
            .Main {
                background-color: #340505;
                padding: 2rem 2rem;
            }
/*Images*/
.h3oudetijd {margin-top: 250px!important;}
.img1{float: left;
    margin-top: 5px ;
    margin-right: 10px;
    width: 25rem;
}

.img2 {
    height: 300px;
    width: 200px;
    float: right;
    margin-right: 100px;
    margin-left:100px;
}

.img3 {width: 25rem;
     float: right;
}
.img4 {
    height: 300px;
    width: 300px;
}

.img5 {
    float: left;
    height: 300px;
    width: 200px;
    margin-right: 10px;
}

.gitaar1 {height: 300px;
        width: 200px;
        border-radius: 50%;
        margin-top: 20px;
}
.gitaar2 {height: 300px;
    width: 200px;
    border-radius: 50%;
    margin-top: 50px;
}

.gitaar3{border-radius: 50%;
        float: left;
    height: 300px;
    width: 200px;
    margin-right: 10px;
    margin-top: 30px;
}




                /*TABEL*/
               table {
                    font-family: EB Garamond, sans-serif;
                    font-size: 1.5rem !important;
                    font-weight: 650;
                    text-align: left;
                    background-color: background-color: #e5e5f7;
                    max-width: 600px;
                    margin: 50px auto;
                    box-shadow: -1rem -1rem 1rem   ;
                }

                th, td { padding: 1rem
                }

                footer {
                    font-family: EB Garamond, sans-serif;
                    font-size: 1rem;
                    font-style: normal;
                    font-variant: normal;
                    font-weight: 300;
                    line-height: 1.5;
                    color: #f6a262;
                    margin-top: 30px;
                }

                /*Links*/

                a { color: #3333FF
                }

                a:visited {
                    color: #3333FF
                }

                a:focus {
                    color: #CC0066
                }

                a:hover {
                    color: black;
                }

                a:active {
                    color: #ecc60f
                }

