/*main-footer*/
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');

/*header*/
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@600&display=swap');

/*icons*/
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css');


/* Smartphones : dit is me niet gelukt om correct te krijgen. Ik zag de aanpassingen niet nadat ik ze had toegepast.
Ik vond het moeilijk om de juiste px in te stellen in de devtool van Chrome*/
@media only screen and (min-width: 320px) and (max-width: 600px) {
    nav ul {
        font-size: 10px !important;
        flex-direction: column !important;
        position: fixed !important;
    }
    body {
        font-family: "EB Garamond", sans-serif;
        font-size: 20px;
        font-style: normal;
        font-variant: normal;
        line-height: 1.5;
        color: #f6a262;
    }


    header {

        font-weight: bolder !important;
        text-align: left !important;
        color: #f67205;
        height: 6rem !important;
        padding-top: 25%;
    }

    h1 {
        font-size: 30px !important;
        padding-top: 1rem;

    }

    h2 {
        font-size: 20px !important;
        padding-top: 1rem;
    }

    h3 {
        font-size: 10px !important;
        margin-top: 20rem;
    }

    .Main {
        background-color: #340505;
        padding: 2rem 2rem;
    }

    /*Images*/
    .h3_middeleeuwen {
        margin-top: 100px !important;
    }

    .img1 {
        float: none;
        width: 20px;
    }

    .img2 {
        height: 300px;
        width: 200px;
        float: none;

    }

    .img3 {
        width: 25rem;
        float: none;
    }

    .img4 {
        height: 300px;
        width: 300px;
    }

    .img5 {
        float: none;
        height: 100px;
        width: 100px;
        margin-right: 10px;
    }

    .gitaar1 {
        height: 300px;
        width: 200px;
        border-radius: 50%;
        margin-top: 20px;
    }

    .gitaar2 {
        height: 300px;
        width: 200px;
        border-radius: 50%;
        margin-top: 50px;
    }

    .gitaar3 {
        border-radius: 50%;
        float: none;
        height: 300px;
        width: 200px;
        margin-right: 10px;
        margin-top: 30px;
    }

    .MainSchilderijen {
        background-color: #340505;
        padding: 2rem 2rem;
    }

    .MainSchilderijen ul {
        list-style-type: none;
    }

    .MainSchilderijen li {
        list-style-position: inside;
        list-style-type: none;
    }

    .MainSchilderijen .img6 {
        max-width: 800px !important;
        padding-left: 300px !important
    }


    /*TABEL*/
    table {
        font-family: EB Garamond, sans-serif;
        font-size: 1.5rem !important;
        font-weight: 650;
        text-align: left;
        margin: 50px auto;
        box-shadow: none;
    }

    th, td {
        padding: 1rem
    }

}

@media print {
        body {
            background-image: none;
            background-color: transparent
        }

        header {
            background-image: none;
            color: black
        }

        nav {
            display: none;
        }
}

/* ------------------------------------------------------------------------------------------- normaal 17 inch scherm */

/*Universal selector box-model*/
* {
margin: 0;
padding: 0;
box-sizing: border-box;
}
html {
                    -webkit-box-sizing: border-box;
                    -moz-box-sizing: border-box;
                    box-sizing: border-box
                }

        /*NAV*/
        nav ul {
            font-family: Cinzel, serif;
            font-weight: bold !important;
            font-size: 17px !important;
            background-color: #9f3e3e;
            list-style-type: none;
            width: 100%;
            padding: 5px 5px;
            flex-direction: row;
            display: flex;
            position: fixed;
            justify-content: space-evenly;
        }

        nav li {
            flex: 1 1 auto;
            padding: 0 1rem 0 !important;
            justify-content: space-between;
            align-content: space-between;
        }

        /*links nav bar*/
        nav a {
            color: black !important;
        }

        nav a:visited {
            color: #02247c !important;
        }

        nav a:hover {
            color: black !important;
            font-size: 30px !important;
        }

        /*BODY*/
        body {
            font-family: "EB Garamond", sans-serif;
            font-size: 20px;
            font-style: normal;
            font-variant: normal;
            line-height: 1.5;
            color: #f6a262;
        }

        span {
            font-style: italic
        }


    header {
    background-image: url("/Pictures/de_gitaarspeelster_Vermeer_origineel_crop.jpg") !important;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: Cinzel, serif;
    font-weight: bolder !important;
    text-align: right;
    color: #f67205;
    height: 400px;
    padding-right: 5%;
}

        h1 {
            font-size: 40px !important;
            padding-top: 7rem;

        }

        h2 {
            font-size: 30px !important;
            padding-top: 1rem;
        }

        h3 {
            font-size: 30px !important;
        }

        .Main {
            background-color: #340505;
            padding: 2rem 2rem;
        }

        /*Images*/
        .h3_middeleeuwen {
            margin-top: 150px !important;
        }

        .img1 {
            float: left;
            margin-top: 5px;
            margin-right: 10px;
            width: 25rem;
        }

        .img2 {
            height: 300px;
            width: 200px;
            float: right;
            margin-right: 100px;
            margin-left: 100px;
        }

        .img3 {
            width: 25rem;
            float: right;
        }

        .img4 {
            height: 300px;
            width: 300px;
        }

        .img5 {
            float: left;
            height: 300px;
            width: 200px;
            margin-right: 10px;
        }
        .gitaar1 {
            height: 300px;
            width: 200px;
            border-radius: 50%;
            margin-top: 20px;
        }

        .gitaar2 {
            height: 300px;
            width: 200px;
            border-radius: 50%;
            margin-top: 50px;
        }

        .gitaar3 {
            border-radius: 50%;
            float: left;
            height: 300px;
            width: 200px;
            margin-right: 10px;
            margin-top: 30px;
        }

.MainSchilderijen { background-color: #340505;
                    padding: 2rem 2rem;}
.MainSchilderijen ul { list-style-type: none;
    padding: 3rem;}

.MainSchilderijen li {list-style-position: inside;
    list-style-type: none;
    padding-right: 3rem !important;
}
.MainSchilderijen .img6 {
    max-width: 800px !important;
    padding-left: 300px !important
}




        /*TABEL*/
        table {
            font-family: EB Garamond, sans-serif;
            font-size: 1.5rem !important;
            font-weight: 650;
            text-align: left;
            margin: 50px auto;
            box-shadow: -1rem -1rem 1rem;
        }

        th, td {
            padding: 1rem
        }

        footer {
            font-family: EB Garamond, sans-serif;
            font-size: 1rem;
            font-style: normal;
            font-variant: normal;
            font-weight: 300;
            line-height: 1.5;
            color: #f6a262;
            margin-top: 30px;
        }

        /*Links*/
        a {
            color: #3333FF
        }

        a:visited {
            color: #3333FF
        }

        a:focus {
            color: #CC0066
        }

        a:hover {
            color: black;
        }

        a:active {
            color: #ecc60f
        }



